<a href="https://colab.research.google.com/github/DiegoMacielDM/MachineLearning/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import as bibliotecas do python
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Configurando o notebook
sns.set_style()

In [4]:
#importando o dados
df = pd.read_csv("http://dl.dropboxusercontent.com/s/gc1rm540g4i670n/precificacao_housing_plus.csv?dl=0")

In [5]:
#mostrando od dados
df.head()

   Id  MSSubClass  LotArea  OverallQual  ...  MiscVal  MoSold  YrSold  SalePrice
0   1          60     8450            7  ...        0       2    2008     208500
1   2          20     9600            6  ...        0       5    2007     181500
2   3          60    11250            7  ...        0       9    2008     223500
3   4          70     9550            7  ...        0       2    2006     140000
4   5          60    14260            8  ...        0      12    2008     250000

[5 rows x 35 columns]

In [6]:
#importando o Sklearn
from sklearn.model_selection import train_test_split

In [8]:
#Informando o X e o Y
#X vai ser toda a base excluindo o coluna SalePrice
x = df.drop('SalePrice', axis=1)

#Y vai ser apenas a coluna SalePrice
y = df['SalePrice']

In [9]:
#iniciando os train
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)